$primary-bg: #000000;
$text-white: #ffffff;
$accent-color: #f5c518;
$button-bg: #333333;
$primary-font: "Oswald", sans-serif;
$secondary-font: "Oswald", sans-serif;
$bold-color: #f5c518;

$breakpoints: (
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);
