.header__language span:after {
    display: none;
}

.page-header {
    background-color: #fff;
}

.breadcrumbs {
    background-color: #fff;
}

.breadcrumbs__item {
    color: #957944;
}

span.breadcrumbs__item {
    color: #00000061;
}
